html{
    background: url(../image/bg-2.jpg) no-repeat fixed center;
}

.spotify{
    height: 400px;
}
@media only screen and (max-width: 768px) {
    .spotify {
            height: 800px;
    }
    .spotify iframe {
        height: 400px;
        margin-top: 0.5rem;
        margin-left: 0;
        margin-right: 0;
    }
}

.twitter{
    width: 100%;
    height: 500px;
}

.twitter .twitter-timeline{
    width: 500px;
    height: 500px;
}