body{
  background-color: #112B3C;
  color: #EFEFEF;
}

#header-carousel .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.w{
  width: 115px;
}

.div-l{
  float: left;
  padding: 5px;
  width: 120px;
  height: 120px;
  background-color: #1e4e6e81;
  border-radius: 30px;
}

.div-c{
  float: left;
  margin-left: 70px;
  padding: 5px;
  width: 120px;
  height: 120px;
  background-color: #3131318f;
  border-radius: 30px;
}

.div-r{
  float: left;
  margin-right: 100px;
  padding: 5px;
  width: 120px;
  height: 120px;
  background-color: #f66b0e94;
  border-radius: 30px;
}
