*{
    margin: 0;
    padding: 0;
    border: 0;
}

.top {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}

#header {
  position: absolute;
  top: 50%;
  width: 100%;
}